.section-frame {
	padding: 4.0rem 0;
}
.margin-container {
	margin: 0 auto;
	max-width: 123.2rem;
	padding: 0 1.6rem;
}
.sct-primary {
	background-color: $primary-color;
	color: white;
}
.sct-secondary {
	background-color: $primary-color-alternate;
	color: white;
}