// Breakpoints
$bp-mobile: 350px;
$bp-small: 750px;
$bp-medium: 1023px;


// Colors
$primary-color: #0079c1;
$primary-color-alternate: #002955;
$primary-color-accent: #c39a5c;

$secondary-color: #eff2f6;
$secondary-color-alternate: #0073b8;
$secondary-color-accent: #4e5574;

$error: #dc1212;
$high-priority: #f4dde2;
$medium-priority: #f9e6c5;
$low-priority: #bfd6e6;

// Typography Variables
$header-color: $primary-color;